@font-face {
    font-family: Vollkorn;
    src: url(fonts/vollkorn_regular.ttf);
}
@font-face {
    font-family: Vollkorn;
    src: url(fonts/vollkorn_medium.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Spectral;
    src: url(fonts/spectral_regular.ttf);
}
h1 {
    font-family: Vollkorn;
    font-size: 300%;
    margin-top: 1.5ex;
    color: darkblue;
    text-align: center;
}
h2 {
    font-family: Vollkorn;
    font-size: 250%;
    margin-top: -15pt;
    color: darkblue;
    text-align: center;
}
h3 {
    font-family: Vollkorn;
    font-size: 120%;
    margin-top: 5pt;
    color: darkblue;
    text-align: center;
}
body {
    background-color: aliceblue;
}
p {
    font-size: 120%;
    margin: 10pt;
}
a {
    text-decoration: none;
    color: darkblue;
}
.listlinks {
    font-family: Vollkorn;
    font-size: 150%;
    color: darkblue;
    font-weight: bold;
}
a:hover {
    /*background-color:lightblue;*/
    text-decoration: underline;
    text-decoration-color: blue;
}
a:visited {
    /*color:darkblue;*/
}

.elementborder {
    background-color: lightblue;
    vertical-align: top;
    clear: both;
    display: inline-block;
    margin: 3ex 1em;
    text-align: center;
}